code[class="language-phioiecst"],
pre[class="language-phioiecst"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #000;
	background: #fafafa;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
	font-size: 1rem;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	border-radius: 8px;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class="language-phioiecst"]::-moz-selection,
pre[class="language-phioiecst"]::-moz-selection,
code[class="language-phioiecst"] ::-moz-selection,
pre[class="language-phioiecst"] ::-moz-selection {
	background: #cceae7;
	color: #6199ff2f;
}

code[class="language-phioiecst"]::selection,
pre[class="language-phioiecst"]::selection,
code[class="language-phioiecst"] ::selection,
pre[class="language-phioiecst"] ::selection {
	background: #cceae7;
	color: #6199ff2f;
}

:not(pre) > code[class="language-phioiecst"] {
	white-space: normal;
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
}

pre[class="language-phioiecst"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

.token.boolean,
.token.number,
.token.string {
	color: #a31515;
}

.token.comment {
	color: #008000;
}

/* Pragma */
.token.cdata {
	color: #777;
}

.token.class-name {
	color: #2b91af;
}

.token.keyword,
.token.keyword.control-flow {
	color: #00e;
}

.token.operator,
.token.punctuation {
	color: #000;
}

.token.variable {
	color: #1a0dab;
}

.token.function {
	color: #850;
}

.token.property {
	color: #1a0dab;
}
