/**
 * The following styles get applied inside the editor only.
 */

.wp-block-create-block-iecst-highlighter {
	background-color: #364353;
	font-family: 'Monaco', monospace;
	color: #fff;
	padding: 10px;
}
